<div [ngClass]="'nav-bar'">
  <div>
    <h4>FARM2CART</h4>
  </div>
  <!-- <div>
    <input
      type="text"
      placeholder="Search products here"
      [ngClass]="'search'"
    />
  </div> -->
  <div class="search-container">
    <input
      type="text"
      placeholder="Search products here"
      [ngClass]="'search'"
    />
    <button mat-icon-button aria-label="Search">
      <mat-icon [style]="'color:black'">search</mat-icon>
    </button>
  </div>
  <div ngClass="nav-bar__items">
    <button mat-icon-button aria-label="Cart">
      <mat-icon>shopping_cart</mat-icon>
      <div class="notification-dot">{{ cartItemCount }}</div>
    </button>
    <button mat-icon-button aria-label="Like">
      <mat-icon>favorite_filled</mat-icon>
    </button>
    <button mat-icon-button aria-label="Profile">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</div>
