<div class="carousel-slider">
  <div class="carousel-container">
    <div class="prev-button">
      <button mat-icon-button aria-label="Previous" (click)="prevSlide()">
        <mat-icon [style]="'color:black'">chevron_left</mat-icon>
      </button>
    </div>
    <div
      class="carousel"
      [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'"
    >
      <div class="slide" *ngFor="let slide of bigslides">
        <img [src]="slide" alt="Slide" />
      </div>
    </div>
    <div class="next-button">
      <button mat-icon-button aria-label="Next" (click)="nextSlide()">
        <mat-icon [style]="'color:black'">chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <!-- <div class="smallblock">
    <div class="small-slider">
      <img [src]="smallslide_1" alt="Small Slide 1" />
    </div>
    <div class="small-slider">
      <img [src]="smallslide_2" alt="Small Slide 2" />
    </div>
  </div> -->
</div>
<div class="categories-container">
  <div class="font">Shop by Categories</div>
  <div class="font-s">
    Foods of similar colours generally have similar tastes and nutrients.
  </div>
  <div class="font-s">Find your favourite category here!</div>
  <div class="category-row">
    <div *ngFor="let item of categories" class="cat-card">
      <a routerLink="{{ item.Name }}">
        <img [src]="item.Image" class="imgs" />
      </a>
      <h3>{{ item.Name }}</h3>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
