<app-header></app-header>
<app-carousel-slider></app-carousel-slider>

<!-- <form (submit)="onSubmit()">
  <input
    type="text"
    name="itemName"
    [(ngModel)]="itemName"
    placeholder="Item Name"
    required
  />
  <input
    type="number"
    name="itemPrice"
    [(ngModel)]="itemPrice"
    placeholder="Item Price"
    required
  />
  <input
    type="number"
    name="itemQuantity"
    [(ngModel)]="itemQuantity"
    placeholder="Item Quantity"
    required
  />
  <input
    type="text"
    name="itemCategory"
    [(ngModel)]="itemCategory"
    placeholder="Item Category"
    required
  />
  <input
    id="fileInput"
    type="file"
    (change)="onFileSelected($event)"
    accept="image/*"
    required
  />
  <img [src]="decodeImage()" />
  <img [src]="imageUrl" />
  <button type="submit">Upload Item</button>
</form> -->
