/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
    font-family: poppins;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-panel {
    background-color: #f0f0f0; 
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); 
  }  

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
    padding: 10px 20px; /* Example: change padding */
    background-color: pink;
  }
  